

/* 数据类型 
  type-of(5) type-of(5px) number  
  type-of(hello) string 
  type-of(1px solid #555) list
  type-of(#666)  type-of(rgb(255,255,0) color
  Map
  boolean
*/


/* number '+ - * /' 运算 最好放在 "()" 里面
  (5+8)
  (5px * 6px)

  函数：
  // 转正数
  abs(10)  10
  abs(10px) 10px
  abs(-10px) 10px
  四舍五入
  round(3.5)  4
  round(3.2)  3
  进一
  ceil(3.2)  4
  退一
  floor(3.6) 3
  百分比
  percentage(650px / 1000px) 65%
  最小
  min(1,5,9) 1
  最大
  min(1,2) 2

*/


/*String
  拼接
  "Hello" + sass  "Hell sass"
  "Hello" - sass  "Hell-sass"
  "Hello" / sass  "Hell/sass"

  函数
  大小写
  to-upper-case("Hello") "HELLO"
  to-lower-case("Hello") "hello"
  // 长度
  str-length("hello")  4
  // 索引
  str-index("hello sass",hello) 1
  // 插入
  str-insert("Hello sass","66",5) "Hello66 sass"

*/

/* color
  red
  #FF0000;
  rgb(255,0,0)  红、绿、蓝 -> red 
  rgba(255,0,0,0.5) // 0.5 透明度

  hsl(0,100%,50%) red
  hsl(60,100%,50%) yellow
  hsl(60,100%,50%,0.5) rgba(255,0,0,0.5)
*/

body {
  background-color: adjust-hue(#000000, 137deg); 
}

// 颜色亮度

$base-color: rgb(0, 195, 255);

button {
  background-color: lighten($base-color, 30%);
  // 颜色更亮
}
button:hover {
  background-color: darken($base-color, 30%);
  // 颜色更暗
}

// 颜色纯度

button {
  background-color: saturate($base-color, 30%);
  // 颜色更纯 颜色选择器 左下到右上
}
button:hover {
  background-color: desaturate($base-color, 30%);
  // 颜色更不纯  颜色选择器 右上到左下 
}

// 颜色透明度

button {
  background-color: opacify($base-color, 0.3);
  // 颜色更透明  颜色选择器 滑块向下 -0.3
}
button:hover {
  background-color: transparentize($base-color, 0.3);
  // 颜色更不透明 颜色选择器 滑块向上 +0.3
}

/* list

  length(5px 10px 5px 0)  2

  nth(4px 6px,1)  4px

  index(1px solid red,solid) 2

  append(5px 10px,5px) (5px 10px 5px)

  join(5px 10px,5px 0) (5px 10px 10px 0)

  join(5px 10px.5px 0, comma) (5px,10px,10px,0)

*/

// Map

$colors:(ligth:"#fff",drak:"#000");
/* Map
  length($colors)  2
  map-get($colors,drak)  #000
  map-keys($colors)  ("ligth","drak")
  map-values($colors) ("#fff","#000")
  map-has-key($colors,ligth) true
  // 合并
  map-merge($colors,(ligth-gray:"#666"))          (ligth:"#fff",drak:"#000",ligth-gray:"#666")
  // 移除
  map-remove($colors,ligth,drak)
    (ligth-gray:"#666")

*/

// boolean

/*
  5px >10px false
  (5px > 4px) and (5px < 6px) true
  (5px < 4px) or (5px < 6px) true
  not(5px > 4px) false
*/


$vesion: "0.0.1";

// 项目当前版本 #{$version}

$name: "info";
$attr: "border";

.alert-#{$name} {
  #{$attr}: 1px solid #666;
}






